.icon {
  display: flex;
  justify-content: center;
}
img {
  width: 400px;
  filter: invert();
}

body {
  font-size: 1.4rem;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;

  flex-direction: column;
  align-items: center;
}

button {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  font-size: large;
  border: none;
  border-radius: 25%;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
input {
  padding: 15px;
  font-size: 1.5rem;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: white;
}
#main-heading {
  text-align: center;
}
.d-block {
  display: block;
}
#stats {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.hide {
  display: none;
}
#text-display {
  text-align: center;
  font-size: 3rem;
}
.type-word {
  padding: 5px;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  img {
    width: 200px;
  }
